{% extends 'base.html' %}

{% block title %}Game Description{% endblock %}

{% block content %}
    <div class="background"></div>
    <a href="{{ url_for('browse_bp.browse') }}" class="home-button">Browse Now</a>
    <div class="home-container">
        <h1 class="home-header">Game Library</h1>
    </div>
    <div class="home-paragraph-container">
        <p class="home-paragraph">
            Introducing the GrandQuest Game Library: your portal to endless gaming adventures. Discover a wide array of genres, from fantasy to sci-fi, all in one convenient hub. With user-friendly navigation and regular updates, boredom will be a thing of the past. Join fellow gamers and unleash your inner player. Your next gaming journey begins with GrandQuest.
        </p>
    </div>
{% endblock %}
