<header id="header" class="sticky">
    <div class="brand">|  Nexus  |  </div>
    <div class="names">Luke Harrison | Min Ryou | Ethan Sio</div>
    <nav class="navMenu">
      <a href="{{ url_for('home_bp.home') }}">Home</a>
      <a href="{{ url_for('browse_bp.browse') }}">All Games</a>
      <a href="{{ url_for('profile_bp.profile') }}">Profile</a>
      <a href="{{ url_for('authentication_bp.register') }}">Register</a>
      <a href="{{ url_for('authentication_bp.login') }}">login</a>
      <a href="{{ url_for('authentication_bp.logout') }}">logout</a>
      

      


    </nav>
    <form action="{{ url_for('browse_bp.search') }}" method="GET" class="search-form">
      <input type="text" name="search_query" placeholder="Search for games...">
      <select name="type">
        <option value="all">All</option>
        <option value="title">Title</option>
        <option value="publisher">Publisher</option>
        <option value="genre">Genre</option>
      </select>
      <button type="submit">Search</button>
    </form>
</header>