{% extends 'base.html' %}

{% block title %}Game Description{% endblock %}

{% block content %}
<main class="main-authentication-profile">
    <div class="profbg">
        <h1 class="title">Welcome {{ session['user_name'] }}</h1>
        <div class="profilecont">
            <div class="border">
                <h2 class="title">Reviewed</h2>
                <ul>
                    {% for comment in user_comments %}
                        <li>
                            <strong>{{ comment.game.title }}</strong>: "{{ comment.comment }}"
                        </li>
                    {% endfor %}
                </ul>
            </div>


            <div class="border">
                <h2 class="title">Rated</h2>
                <ul>
                    {% for comment in user_comments %}
                        <li>
                            <strong>{{ comment.game.title }}</strong>: {{ comment.rating }} / 5
                        </li>
                    {% endfor %}
                </ul>
            </div>


            <div class="border">
                <h2 class="title">Wishlist</h2>
                <ul>
                    {% if repository.wishlist_exists(session['user_name']) %}
                        {% for game in repository.get_user_wishlist(session['user_name']) %}
                            <li>{{ game.title }}</li>
                        {% endfor %}
                    {% else %}
                        <li>Your wishlist is empty</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}
